Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Material/Texture/T_tablet_D_A01.uasset
Content/Material/Texture/T_tablet_N_A01.uasset
